{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Sale</title>
</head>
<br><br>
<body>
<table align="center">
    <tr>
        <td><img src="{% static 'images/Online-Shopping.png'%}" style="width:90px;height:80px;"></td>
        {% comment %}<td><img src="{% static 'images/online1.jpg'%}" style="width:90px;height:90px;"></td>{% endcomment %}
        <td><h1 style="color: seagreen;">ONLINE SALE</h1></td>
    </tr>
</table>

</body>
</html>